  $primary-color: #FFEFE7;
  $secondary-color: #FFDAC6;
  $tertiary-color: #BABD8D;
  $primary-text-color: #7C6A0A;
  $orange: #FA9500;
  $black: #000000;
  $type-principal: 'IBM Plex Sans',
  sans-serif;